/*
body * {
  font-family: Arial;
}
*/

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

a:visited, a:link {
  color: blue;
}

h1 {
  font-family: Arial;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 0px;
}

h2 {
  font-family: Arial;
  font-size: 1.05em;
  font-weight: bold;
  text-decoration: underline;
}