<!DOCTYPE html>
<html>
  <head>
    <!-- Stylesheet References -->
    <!-- <link rel="stylesheet" type="text/css" href="/path/to/css/file/here" /> -->
    
    <!-- JavaScript References -->
    <!-- <script type="text/javascript" src="/path/to/js/file/here" /> -->
  </head>
  <body>
    <div style="height: 500px;">
      Top Pane Here
    </div>
    <div style="height: 500px;">
      <iframe style="height: 100%; width: 100%;" width="100%" height="100%" src="html-tags.html">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
  </body>
</html>